<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Oceans</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Martian+Mono:wght@200&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

    <!-- smooth scrolling effect script-->

    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

</head>
<body>
    <section id="banner">
        <div class="menu">
            <img src="static/images/logo.jpg" class="logo">
            <div class="banner-text">
                <h1>Q.U.E.E.N..B.I.R.D.S</h1>
                <p>"jobs creation initiative"</p>
                <div class="banner-btn">
                    <a href="#Features"><span></span>Find out</a>
                    <a href="#testimonials"><span></span>Read More</a>
                </div>
            </div>
        </div>
    </section>
    <div id="sidenav">
        <nav>
            <ul>
                <li><a href="#banner">Home</a></li>
                <li><a href="#Features">Features</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#footer">Meet us</a></li>
                <li><a href="#">Join us</a></li>
                <li><a href="#">Survey</a></li>
            </ul>
        </nav>
    </div>
    <div id="menuBtn">
        <img src="static/images/menu_icon.png" id="menu">
    </div>

    <!--Features-->

    <section id="Features">
        <div class="title-text">
            <p>FEATURES</p>
            <h1>Why Chose us</h1>
        </div>

        <div class="Feature-box">
            <div class="Feature">
                <h1>Experienced Staff</h1>
                <div class="features-descriptions">
                    <div class="feature-icon">
                        <i class="fa-solid fa-shield-halved"></i>
                    </div>
                    <div class="feature-text">
                        <p>At the end of the workday, positive employee experience has a direct correlation to business success. </p></div>

                    
                </div>

                <h1>Quality products</h1>
                <div class="features-descriptions">
                    <div class="feature-icon">
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <div class="feature-text">
                        <p>Quality is our mission </p></div>

                    
                </div>

                <h1>Order Online</h1>
                <div class="features-descriptions">
                    <div class="feature-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="feature-text">
                        <p>Poulty orders made Simple </p></div>
                </div>

            </div>

            <div class="Feature-img">
                <img src="static/images/staff.jpg" alt="K.i.n.g">
            </div>

        </div>

    </section>


    <!--Services-->

    <section id="services">
        <div class="title-text">
            <p>SERVICES</p>
            <h1>We Produce Better</h1>
        </div>
        <div class="service-box">
            <div class="single-service">
                <img src="static/images/pic1_eggs.jpg" >
                <div class="overlay"></div>
                <div class="service_description">
                    <h3>Eggs</h3>
                    <!--Adding horizontal line-->
                    <hr>
                    <p>High Quality F2 fertilised Eggs</p>
                </div>
            </div>
            <div class="single-service">
                <img src="static/images/pic2_hatching.jpg" >
                <div class="overlay"></div>
                <div class="service_description">
                    <h3>Hatching</h3>
                    <!--Adding horizontal line-->
                    <hr>
                    <p>Hatching and incubation</p>
                </div>
            </div>
            <div class="single-service">
                <img src="static/images/pic3_brooding.jpg" >
                <div class="overlay"></div>
                <div class="service_description">
                    <h3>Brooding</h3>
                    <!--Adding horizontal line-->
                    <hr>
                    <p>Brooding of chicks upto 4 weeks</p>
                </div>
            </div>
            <div class="single-service">
                <img src="static/images/pic4_meat.jpg">
                <div class="overlay"></div>
                <div class="service_description">
                    <h3>Mature Chicken </h3>
                    <!--Adding horizontal line-->
                    <hr>
                    <p>Chicken for meat and rearing </p>
                </div>
            </div>

        </div>

        <!--Testimonials-->
        <section id="testimonials">
            <div class="title-text">
                <p>TESTIMONIALS<i class="fa-solid fa-comments"></i></p>
                <h1>Clients feedback</h1>
            </div>

            <div class="testimonials_row">
                <div class="testimonial_column">
                    <div class="user">
                        <img src="static/images/client1.jpg">
                        <div class="user_info">
                            <h4>MCA Tricky</h4>
                            <small><i class="fa-brands fa-twitter"></i>@McaTricky</small>
                        </div>
                    </div>
                    <p>" Hapo awali kable ya kujenga banda nzuri la kuku, walikuwa wanakufa kila siku! Baada ya kufanya marekebisho ya banda hilo na Queen-Birds, sahizi ni faida tu!! Queen-Birds wana services bora kabisa"</p>
                </div>
                <div class="testimonial_column">
                    <div class="user">
                        <img src="static/images/client2.jpg">
                        <div class="user_info">
                            <h4>Jirani Wa Pili</h4><small>
                            <i class="fa-brands fa-twitter"></i>@Jirani_wapili</small>
                        </div>
                    </div>
                    <p>"Sikuwa naelewa faida ya kuku hadi nilipopata ushauri kutoka kwa Afisa wa production wa Queen-Birds, Madam Winnie Onyango. Mafunzo ya jinsi ya kutumia mashine za kuagua vifaranga"</p>
                </div>
                <div class="testimonial_column">
                    <div class="user">
                        <img src="static/images/client3.jpg">
                        <div class="user_info">
                            <h4>Fred Ogallo Isa</h4>
                            <small><i class="fa-brands fa-twitter"></i>@Ogallo_fred</small>
                        </div>
                    </div>
                    <p>"Nimepata vifaranga wenye afya nzuri kutoka Queen-Birds"</p>
                </div>

            </div>


        </section>
    
        <!--footer-->
        <section id="footer">
            <img src="static/images/footer.jpg" class="footer_img">
            <div class="title-text">
                <p>Contact</p>
                <h1>Visit Farm</h1>
            </div>
            <div class="footer_row">
                <div class="footer_left">
                    <h1>Opening Hours</h1>
                    <p><i class="fa-solid fa-business-time"></i>Monday to Friday 0600hrs to 1800hrs</p>
                    <p><i class="fa-solid fa-business-time"></i>Saturday         0900hrs to 1700hrs</p>
                    <p><i class="fa-solid fa-business-time"></i>Sunday           1400hrs to 1700hrs</p>
                </div>

                <div class="footer_right">
                    <h1>Get in touch <i class="fa-solid fa-map"></i></h1>
                    <p><i class="fa-solid fa-location-dot"></i> Kitale - Bikeke Shopping Centre</p>
                    <p><i class="fa-solid fa-envelope"></i> felixsindani72@gmail.com</p>
                    <p><i class="fa-solid fa-phone-volume"></i> +254 723 342 849</p>
                    <p><i class="fa-solid fa-mobile-retro"></i> +254 758 621 464</p>
                </div>
            </div>

            <!-- social media icons-->

            <div class="social-links">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-whatsapp"></i>
                <p>Copyright@2023 Sindani</p>
            </div>

        </section>
    <script>
        var menuBtn = document.getElementById("menuBtn")
        var sidenav = document.getElementById("sidenav")
        var menu = document.getElementById("menu")

        sidenav.style.right = "-210px";

        menuBtn.onclick = function(){
            if(sidenav.style.right == "-210px"){
                sidenav.style.right = "0";
                menu.src = "static/images/close-icon-png.jpg";
            }
            else{
                sidenav.style.right = "-210px";
                menu.src = "static/images/menu_icon.png";
            }
        }

        // All animations will take exactly 500ms
var scroll = new SmoothScroll('a[href*="#"]', {
	speed: 1000,
	speedAsDuration: true
});

    </script>
</body>

</html>