*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),#009688),url(images/backgroundocean.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 5%;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
    cursor: pointer;
}


.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1{
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
}

.banner-text p{
    font-size: 20px;
    font-style: italic;
}

.banner-btn{
    margin: 70px auto 0;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 5px solid #fff;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.banner-btn a span{
    width: 0; /* sets btn initially to be filled with no color */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: #000; /* inverting hover color*/
}

#sidenav{
    width: 210px; /* width of sidebar*/
    height: 100vh;
    position: fixed;
    right: -210; /* used to det the width to pop the sidenav as defined above and in the html ifelse*/
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 15px;
}

@media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 44px; /* reducing h1 font size to fit in small screen*/
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
    
}

/*--features--*/
.Features{
    width: 100px;
    padding: 70px;
}

.title-text{
    text-align: center;
    padding-bottom: 20px;
}

.title-text p{
    margin: 40px;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background:linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-right-radius: 35px; /* shapes background effect behind feature*/
    border-bottom-left-radius: 35px;

}

.title-text h1{
    font-size: 50px;
}

.Feature-box{
    width: 70%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.Feature{
    flex-basis: 50%;
}

.Feature-img{
    flex-basis: 50%;
    margin: auto;
}

.Feature-img img{
   width: 70%;
   border-radius: 30px;
   
}

.Feature h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.features-descriptions{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .fa-solid{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid ;

}

.feature-icon .fa-thin{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid ;

}

.feature-text p{
    padding: 0 20px;
    text-align: initial; /* aligns description text to be regular */
}

@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px; /* changing font size when screen size is below 770px*/
    }
    .Feature{
        flex-basis: 100%;
    }
    .Feature-img{
        flex-basis: 100%;
    }
    .Feature-img img{
        width: 100%;
        border-radius: 30px;
        
     }
}

/*--SERVICES--*/
#services{
    width: 100%;
    padding: 70px 0;
    background: lightgray;
}

.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
    flex-basis: 25%; /* determines how images to be displayed*/
    text-align: center;
    border-radius: 7px;
    margin-bottom: 50px;
    color: #fff;
    position: relative;
}

.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    /* hiding background color until cursor points*/
    opacity: 0;
    transition: 1s;

}
 /* makes background color appear when pointed*/
.single-service:hover .overlay{
    opacity: 1;
}

.service_description{
    width: 80%;
    position: absolute;
    bottom: 0; /* sets position of descrip for images*/
    opacity: 0;
    left: 50%;
    transform: translate(-50%);
    transition: 1s;
}

/* setting horizontal line properties */
hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 10px auto;
    width: 60%;
}

.service_description p{
    font-size: 14px;
}

/* making text inside image to appear clearly during hover*/
.single-service:hover .service_description{
    /*bottom: 0%; /* changes transition effects: Fixed pos*/
    /*bottom: -30%; /* changes transition effects: Top going down*/
    bottom: 30%; /* changes transition effects: Down towards middle*/
    
    opacity: 1;
}

@media screen and (max-width: 770px){
    .single-service{
        flex: 100%;
        margin-bottom: 30px;
    }
    .service_description p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service_description{
        bottom: 15% !important;
    }
}

/*Testimonials*/

#testimonials{
    width: 100%;
    padding: 50px 0;
}

.testimonials_row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial_column{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor: pointer;
    transition: transform 0.5s; /* transition effect on column*/
}

.testimonial_column p{
    font-size: 14px;
}

.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 10px;

}

.user_info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

/* Changing color of social media icon and handles */
.user_info small{
    color: #009688;
}

/* Hover effect on testimonials column */
.testimonial_column:hover{
    transform: translateY(-7px); /* effect taking down/up column by set +/-px*/
}

@media screen and (max-width: 770px){
    .testimonial_column{
        flex-basis: 100%;
    }
}

/*--footer--*/

#footer{
   padding: 100px 0 20px;
   background: #efefef;
   position: relative;

}

.footer_row{
    width: 80%;
    margin: 0 auto;
    display: flex; /* makes items horizontal*/
    justify-content: space-between; /* creates space between them*/
    flex-wrap: wrap;
}

.footer_left, .footer_right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer_right{
    text-align: right;
}

.footer_row h1{
    margin: 10px 0;
}

.footer_row p{
    line-height: 35px; /* spacing between line */

}

.footer_left, .footer_right, .fa-solid{
    font-size: 15px;
    color: #009688;
    margin: 10px;
}

.footer_img{
    max-width: 370px;
    opacity: 0.2;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.social-links{
    text-align: center; /* positioning social media icons in the centre */
}

.social-links .fa-brands{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    border-radius: 30px; /* making icon borders to be round shaped */
    color: #009688;
    cursor: pointer;
    transition: 0.5s;
}

/* hover effect on social icons */
.social-links .fa-brands:hover{
    background: #009688;
    color:#fff ;
    transform: translateY(-7px);
}

.social-links p{
    font-size: 12px;
    margin-top: 20px;
}

@media screen and (max-width: 770px){
    .footer_left, .footer_right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer_img{
        top: 25%;
    }
}